@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    /*fonts*/
    --font-text: "Noto Sans", sans-serif;
    /*colors*/
    --withe-color: #fff;
    --background-color: #0c0c0c;
    --grey-color-light: #828292;
    --grey-color: #212121;
    --green-color: #00ff88;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-text);
    height: auto;
    scroll-behavior: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

section {
    margin: 0;
}

.container {
    margin-left: 8rem;
    margin-right: 8rem;

    display: flex;
    justify-content: space-between;
    width: 1920px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#port-link a {
    display: flex;
    align-items: center;

    color: var(--withe-color);
    font-size: 2rem;
    font-weight: 800;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-left: 40px;
    padding: 0.5rem;
    font-size: 1.125rem;
    color: var(--withe-color);
}

nav a:hover {
    color: var(--background-color);
    background-color: var(--green-color);
    border-radius: 2px;
    transition: 1s;
}

#presentation {
    display: flex;
    justify-content: center;
    height: auto;
}

#presentation .name {
    color: var(--withe-color);
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0;
}

#presentation .name > h2 {
    color: var(--grey-color-light);
    font-size: 1.5rem;
    margin-top: 20px;
}

.button {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.button a#cv {
    color: var(--withe-color);
    font-size: 1rem;
    padding: 10px;
    border-bottom: 2px solid var(--green-color);
}

.button a#cv:hover {
    background: var(--green-color);
    color: var(--background-color);
    border-radius: 4px;
    transition: 1s;
}

.button a#contact-me {
    color: var(--withe-color);
    margin-left: 20px;
    padding: 10px;
    font-size: 1rem;
    border-bottom: 2px solid var(--grey-color-light);
}

.button a#github img {
    width: 30px;
    margin-left: 50px;
}

.image {
    width: 15vw;
}

.Column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#about-me {
    display: flex;
    flex-direction: column;

    margin-top: 100px;
}

#about-me .title {
    display: flex;
    align-items: center;
    color: var(--withe-color);
    font-weight: 800;
    font-size: 1.5rem;
}

#about-me p {
    color: var(--grey-color-light);
    width: 50vw;
    margin-top: 30px;
    text-align: center;
}

#contact {
    display: flex;

    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.contact-text {
    font-size: 10px;
}

.contact-text a {
    text-decoration: none;
    color: var(--grey-color-light);
    font-size: 12px;
}

.contact-text h2,
h3 {
    display: flex;
    font-weight: 400;
}

.contact-text h2 {
    color: var(--withe-color);
}

.contact-text h3 {
    color: var(--grey-color-light);
}

#projects {
    flex: 1;
    display: flex;
}

div.title {
    display: flex;

    color: var(--withe-color);
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 1200px;
}

div.box-shadow {
    background-color: var(--grey-color);
    width: 350px;
    height: 240px;
    margin: 10px;
    border-radius: 2px;
}

#projects div.img-projects {
    position: absolute;
    background-color: #0c0c0c;

    width: 300px;
    height: 130px;

    margin-top: 20px;
    margin-left: 25px;
}

div.box-shadow h1 {
    color: var(--withe-color);
    font-size: 25px;
    font-weight: 400;
    margin-left: 25px;
    margin-top: 160px;
}

div.box-shadow p {
    color: var(--grey-color-light);
    margin-left: 25px;
    font-size: 13px;
    font-weight: 400;
}

#services div.box-shadow {
    border-bottom: 3px solid var(--green-color);
}

#services img.services-icons {
    width: 120px;
    padding-top: 20px;
    padding-left: 20px;
}

div.box-shadow p.service-text {
    font-size: 30px;
    padding-left: 35px;
    padding-top: 0;
    margin: 0;
}

.box-shadowSkills {
    display: flex;
    justify-content: center;
    background-color: var(--grey-color);
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 45px;
}

.box-shadowSkills img {
    width: 90px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-color);
    width: 100%;
    height: 60px;
    margin-top: 100px;
}

.footer p {
    display: flex;
    color: var(--withe-color);
    font-size: 15px;
    font-weight: 400;
}

.footer span {
    color: var(--green-color);
    font-weight: 800;
    margin-left: 5px;
}

@media (max-width: 425px) {
    body {
        width: 425px;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .container {
        width: 300px;
        margin: 5px;
    }

    .container.Column {
        margin: 0;
    }

    header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 320px;
        height: 50px;
        margin: 0;
    }

    #port-link a {
        display: flex;
        font-size: 00.8rem;
        margin-left: 5px;
    }

    .menu {
        display: none;
    }

    section#presentation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #presentation {
        display: flex;
        justify-content: space-between;
        margin: 5px;
    }

    #presentation .image {
        display: none;
    }

    .name h1 {
        font-size: 1.25rem;
    }

    #presentation .name > h2 {
        font-size: 0.8rem;
    }

    div.button {
        display: flex;
        justify-content: center;
    }

    .button a#cv {
        background: var(--green-color);
        color: var(--background-color);
        border-radius: 4px;
        font-size: 0.6rem;
    }

    .button a#contact-me {
        font-size: 0.6rem;
    }

    .button a#github img {
        width: 30px;
        margin-right: 0;
    }

    div.title h1 {
        font-size: 1rem;
    }

    .container.Column{
        margin: 0;
    }

    #about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    #about-me p {
        display: flex;
        
        margin: 0;
        font-size: 1rem;
        text-align: justify;
        width: 300px;
    }

    #contact {
        display: flex;
        justify-content: center;
        margin: 0;        
    }
    
    .contact-text a {
        display: none;
    }
    
    .contact-text h2,
    h3 {
        display: none;
    }
    
    div.icons {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
        
    }

    .container-flex {
        display: flex;
        
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: 0;

    }

    section#projects {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    div.box-shadow {
        display: block;
        justify-content: center;
        align-items: center;
        width: 290px;
        height: 210px;
        margin-top: 10px;
        border-radius: 2px;
    }
    
    #projects div.img-projects {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: auto;
        margin: 0;

    }

    div.img-projects a > img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: auto;
    }
    
    div.box-shadow h1 {
        font-size: 1rem;
        font-weight: 400;
        margin-left: 10px;
        margin-top: 160px;
    }
    
    div.box-shadow p {

        margin-left: 10px;
        font-size: 0.8rem;
        font-weight: 400;
    }

    section#services {
        display: flex;
        justify-content: center;
        margin: 0;

    }
    
    #services div.box-shadow {
        border-bottom: 3px solid var(--green-color);
    }
    
    #services img.services-icons {
        width: 100px;
        padding-top: 20px;
        padding-left: 20px;
    }
    
    div.box-shadow p.service-text {
        font-size: 1rem;
        padding-left: 35px;
        padding-top: 0;
        margin: 0;
    }

    section#skills {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    
    .box-shadowSkills {
        display: flex;
        justify-content: center;
        width: 50px;
        height: 50px;
        
        margin: 10px;
        border-radius: 8px;
    }
    
    .box-shadowSkills img {
        width: 30px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        margin-top: 100px;
    }
    
    .footer p {
        display: flex;
        font-size: 0.7rem;
        font-weight: 400;
    }
    
    .footer span {
        font-weight: 800;
        margin-left: 5px;
    }
}
